---
throw new Error('boom from page render');
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>unreachable</title>
	</head>
	<body>
		<p>unreachable</p>
	</body>
</html>
